@import "./../colors.css";

.list {
  margin-bottom: 38px;
}

.todo {
  padding: 20px;
  background-color: var(--silver);
}

.todo:first-child {
  margin-top: 20px;
}

.todo:nth-child(2n) {
  background-color: var(--gray);
}